//* color *//
$blue1: #72C4FE;
$blue2: #86D8FF;
$blue3: #8FE1EE;
$blue4: #323B4E;

$yellow1: #FBDB5C;

$gold1: #EBD6A9;
$gold2: #EFD7B0;

$brown1:#DCC0AA;

$pink1: #FFAFA7;
$pink2: #FF95A1;
$pink3: #FF9CA6;
$pink4: #FFA1A1;

